<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pick'N'Flix - Coming Soon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainstyle2.css') }}">

</head>
<body>
    <h1>Coming Soon</h1>


    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid navbar">
        <a class="navbar-brand" href="./index.html">Pick'N'Flix</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./signup.html">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./login.html">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./info.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./recommendations.html">Recommendations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/filmshowings">Film Times</a>
            </li>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container-fluid bg-1 text-center">
      <a href="index.html"><img src="static/pic_n_mix.png"  alt="logo" width="250"></a>
      <h1>Movie Showtimes</h1>
    </div>

    <div class="container-fluid bg-1 text-center padding=20px">    
      <h4>Click the Movie Link to find the Showtimes!</h4>
    </div>

    <center>
    <table>
    
        {% for film in lists %}
        <tr>
            <td> <a href="/filmshowings/{{film[0]}}"> {{film[0]}} </a></td>
        </tr>
        
    {% endfor %}
    </table>
    <br>

    <button onclick="history.back()">Go Back</button>
</center>




 


  <footer>
      <p>&copy; 2023 Created by Bandwidth of Brothers!!</p>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
      
  </body>

</html>
