@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
    font: 20px Lilita One, Cursive;
    line-height: 1.8;
    color: #D39F36;
    background-color: #09090B;
}

.navbar {
    
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #B72A33;
    border: 0;
    --bs-bg-opacity: 0;
    text-indent: 10px;
}

.bg-body-tertiary {
    background-color: #B72A33;
}

.navbar li a {
    color: #D39F36;
    text-shadow: #09090B 0px 0px 2px;
}
.navbar-nav  li a:hover {
    color: #FFFFFF !important;
}


.signup-box {
    width: auto;
    height: auto;
    align-self: center;
    border-radius: 3px;
    box-sizing: inherit;
  }

.login-box {
    width: auto;
    height: auto;
    align-self: center;
    border-radius: 3px;
    box-sizing: inherit;
  }

  .form_group{
    display: flex;
    flex-direction: column;
  }
  
    .row{
    display: inline-flex;
    padding: 20px;
    align-self: auto    ;
  }

  .d-block {
    max-height: 350px;
  }

  
  .search{
    padding-right: 50px;
  }

  .form-entry{
    display: inline-flex;  
    flex: 0 0 auto;
    max-width: 800px;
    align-self: center;
  }

  .linky{text-decoration: none}

  .column{
     flex: 0 0 auto;
    max-width: 20%;
    padding: 1px 4px;
  }
/* .columns{
  align-self: center;
 } */

  .image {
    height: 100%;
    width: 100%;
    border-radius: 30px;

  }

  .img__wrap {
    position: relative;
    max-height: 250px;
    max-width: 250px;
  
  }
  .img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    background: rgba(248, 9, 29, 0.6);
    color: #ffee00;
    font-size: xx-large;
    text-shadow: black 0px 0px 2px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

  
     transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
  }
  
  .img__description {
    transition: .2s;
    transform: translateY(1em);
  }
  
  .img__wrap:hover .img__description {
    transform: translateY(0);
  }

  .footer {
    background-color: #B72A33;
    color: #D39F36;
    text-shadow: #000000 0px 0px 2px;
  }

  .footer li a {
    color: #D39F36;
    text-shadow: #000000 0px 0px 2px;
    text-decoration: none;
  }

  .results { font-size: xx-large; color: #D39F36; border: 0; --bs-bg-opacity: 0; }

  .filmstable {
    text-align: center;
  }

  .copy{
    color:#000000;
    text-shadow: yellow 0px 0px 1px;
  }

