@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
      
      font: 20px Quicksand, sans-serif;
      line-height: 1.8;
      color: #050505; 
      background-color: darkslategrey;
      text-align: center;
  }
  
  .flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
 
  @media (max-width: 100%) {
    .flex-container {
      justify-content: center;
      flex-direction: column;
    }
  }


.split {
  height: 80%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 10%;
  bottom: 10%;
  overflow-x: scroll;
  padding-top: 0pc;
}
footer {
bottom: auto;
justify-content: center;
}

.left {
  left: 0;

}


.right {
  right: 0;
 
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}



  h2 {
    color: aqua;
  }

  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}

  .bg-1 { 
      background-color: #9B287B; /* Amaranth Deep Purple */
      color: #ffffff;
  }

  .bg-2 { 
      background-color: #122932; /* Dark Gunmetal */
      color: #ffffff;
  }

  .bg-3 { 
      background-color: #F5E6E8; /* Isabelline */
      color: #555555;
  }
  
  .bg-4 { 
      background-color: #383B53; /* Charcoal */
      color: #fff;
  }

.signup-box {
    width: 360px;
    height: 690px;
    align-self: center;
    background-color: white;
    border-radius: 3px;
  }
  
  .login-box {
    width: 360px;
    height: 340px;
    align-self: center;
    border-radius: 3px;
    background-color: white;
  }
  
  h2 {
    margin-left: 20px;
    padding-top: 15px;
  }
  
  h4 {
    margin-left: 20px;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 300px;
    height: 38px;
    margin-top: 18px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 14px;
  }

