@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
      
      font: 20px Quicksand, sans-serif;
      line-height: 1.8;
      color: #050505; 
      background-color: darkslategrey;
  }
  
  h1 {
    color: aqua;
  }

  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}

  .bg-1 { 
      background-color: #9B287B; /* Amaranth Deep Purple */
      color: #ffffff;
  }

  .bg-2 { 
      background-color: #122932; /* Dark Gunmetal */
      color: #ffffff;
  }

  .bg-3 { 
      background-color: #F5E6E8; /* Isabelline */
      color: #555555;
  }
  
  .bg-4 { 
      background-color: #383B53; /* Charcoal */
      color: #fff;
  }

.signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
  }
  
  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #49c1a2;
  }